summary {
  padding-bottom: 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

summary > h1 {
  color: white;
  margin-top: 0;
  padding-top: 55px;
  font-size: 3vw;
  text-align: center;
  width: 80%;
}

summary > p {
  color: rgb(187, 187, 187);
  text-align: center;
  width: 80%;
  font-size: 1.5vw;
  margin-bottom: 60px;
}

.group > img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  height: 40vh;
}

.conteiner {
  display: flex;
  justify-content: center;
  position: relative;
}

.group {
  width: 70%;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
}

.cover {
  background-image: url("/backfill.png");
  background-repeat: no-repeat;
  background-size: cover;
  visibility: hidden;
  opacity: 0.9;
  width: 70%;
  height: 0px;
  position: absolute;
  border-radius: 20px;
  transition: height 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.group:hover .cover {
  height: 40vh;
  visibility: visible;
}

.cover > p {
  color: white;
  margin-bottom: 40px;
  font-size: 1.5vw;
}

.cover > div > a {
  color: white;
  text-decoration: none;
  border: white 1px solid;
  padding: 10px;
  font-size: 1.5vw;
  margin: 10px;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.cover > div > a:hover {
  background-color: rgb(142, 105, 175);
}

@media only screen and (max-width: 700px) {
  .projects {
    grid-template-columns: 1fr;
  }

  
summary > h1 {
  font-size: 6vw;

}

summary > p {

  font-size: 3.5vw;

}

  .cover > p {
    font-size: 3.5vw;
  }

  .cover > div > a {
    font-size: 3vw;
  }
  

}
